{{ define "main" }}


<div class="listitems">

<h2>{{ .Section | title }}</h2>
<br>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script>
    function searchTable() {
      var input, filter, tr, td, i, txtValue;
      input = document.getElementById("searchInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("itemTable");
      tr = table.getElementsByTagName("tr");

      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("th")[0];
        
        if (td) {
          txtValue = td.textContent || td.innerText;

          if (txtValue.toUpperCase().indexOf(filter) > -1) {

            console.log(txtValue);
            tr[i].style.display = "";

          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
  </script>

<input type="text" id="searchInput" onkeyup="searchTable()" placeholder="Filter" class="mb-3 form-control">

<table class="table table-sm"> 
  <tr>
    <th scope="col"><b>Name</b></td>
    <th scope="col"><b>Usage</b></td>
    <th scope="col"><b>Package</b></td>
    <th scope="col"><b>History</b></td>
  </tr>
</table>

<table class="table table-sm" >

  <!--<thead>-->
  <!--<tr>-->
    <!--<th scope="col"><b>Name</b></td>-->
    <!--<th scope="col"><b>Usage</b></td>-->
    <!--<th scope="col"><b>Package</b></td>-->
    <!--<th scope="col"><b>History</b></td>-->
  <!--</tr>-->
  <!--</thead>-->

  <tbody id="itemTable">

{{ range $i, $val := .Pages }}

  <tr>

    <th class="text-left" scope="row"><a href="{{ .URL }}">{{ .Title }}</a></th>

    {{ $values := index .Site.Data.commands .Title }}

    <td class="text-left" >{{ $values.Usage | markdownify }}</td>
    <td class="text-center">{{ $values.Package | markdownify }}</td>
    <td class="text-right">{{ $values.History | markdownify }}</td>

  </tr>
{{ end }}
  </tbody>
</table>
</div>
{{ end }}

