{{ define "main" }}



<h2>{{ .Section | title }}</h2>
<br>

<table width=100%>

  <tr>
    <td><b>Name</b></td>
    <td><b>Usage</b></td>
    <td><b>Package</b></td>
    <td><b>History</b></td>
  </tr>


{{ range $i, $val := .Pages }}

  <tr>

    <td><a href="{{ .URL }}">{{ .Title }}</a></td>

    {{ $values := index .Site.Data.commands .Title }}

    <td>{{ $values.Usage | markdownify }}</td>
    <td>{{ $values.Package | markdownify }}</td>
    <td>{{ $values.History | markdownify }}</td>

  </tr>
{{ end }}
</table>
{{ end }}
