{{ define "main" -}}
  <h1>Tools</h1>
  <h2>Complex</h2>

  <p>
  Highly complicated tools usually with either hundreds of configuration options
  or their own language syntax. One should approach these tools with a mindset on par
  with learning a new programming language. 
  </p>

  {{ range .Pages }}

  {{ if in .Site.Data.complexities.high .Title }} 

  <a href="{{.URL}}">{{.Title}}</a> <br>
  {{ end }} 
  {{ end }}


  <h2>Non-basic</h2>
  <p>
  Tools which require some experience to use effectively. These might
  have configuration files made up of multiple data structures or take advantage
  of background services.
  </p>

  {{ range .Pages }}

  {{ if in .Site.Data.complexities.mid .Title }} 

  <a href="{{.URL}}">{{.Title}}</a> <br>

  {{ end }}
  {{ end }}


  <h2>Trivial</h2>
  <p>
  Tools that take a few options and rarely have a manual longer than a 
  couple pages. These include most built-in commands and can be picked up after
  a few dozen uses. 
  </p>
  {{ range .Pages }}

  {{ if in .Site.Data.complexities.mid .Title }} 

  {{ else if in .Site.Data.complexities.high .Title }}

  {{ else }}

<time class="pull-right post-list" datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">
  <a href="{{.URL}}">{{.Title}}</a> <br>

  {{ end }}
  {{ end }}

{{- end }}
